$big-tablet: 1000px;
$small-tablet: 700px;
$mobile: 550px;
$small-mobile: 300px;

:root {
	--bg-color: rgb(0, 8, 22);
	// --bg-color: rgb(236, 236, 236);  //Dark Mode
	--text-color: #fff;
	// --text-color: #000;   // Dark Mode
	--accent-color: rgb(253, 152, 0);
	// --accent-color: rgb(197, 118, 0);   //Dark Mode
	--secondary-color: rgb(98, 156, 255);
	--tertiary-color: rgb(0, 21, 58);
	// --tertiary-color: rgb(175, 204, 255);  //Dark Mode
	--white: white;
	--black: black;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 1.2rem;

	@media only screen and (max-width: $mobile) {
		font-size: 1rem;
	}

}

li {
	list-style: none;
}

a {
	text-decoration: none;
	// color: var(--text-color);
	font-size: 1.2rem;
	color: var(--accent-color);
	text-decoration: underline;
}

// .ball_container {
// 	position: fixed;
// 	top: 1.5rem;
// 	right: 2rem;
// 	border: 2px solid red;
// 	width: 2.5rem;
// 	height: 1.2rem;
// 	border-radius: 500px;
// }

// .ball {
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: calc(1.2rem - 4px);
// 	height: calc(1.2rem - 4px);
// 	border-radius: 50%;
// 	background-color: var(--secondary-color);
// }

.resume_content {
	padding: 0 2rem;

	@media only screen and (max-width: $small-mobile) {
		padding: 0 1rem;
	}
}

.resume_content > article:not(.intro) {
	margin: 0 auto 100px;
}

header {
	// display: flex;
	// justify-content: center;
	// align-items: center;

	h2 {
		color: var(--secondary-color);
		margin-bottom: 20px;
	}

	hr {
		width: 100%;
		height: 0;
		border: 0 solid var(--secondary-color);
		margin-left: 2rem;
	}
}


.intro {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// font-size: 1rem;

	p {
		margin-bottom: 20px;
		// font-size: 1rem;
		// font-weight: lighter;
	}

	.slant-text {
		// font-size: 0.8rem;
		font-style: italic;
		opacity: 0;
		animation: animate_opacity 2s ease 2.1s 1 normal forwards;
	}

	@media only screen and (max-width: $big-tablet) {
		font-size: 1rem;
	}

	@media only screen and (max-width: $mobile) {
		// align-items: flex-start;
	}
}

.name,
.role {
	text-transform: capitalize;
	font-size: 3em;
	line-height: 1em;
	font-weight: bold;
	background: linear-gradient(to right, rgb(98, 156, 255), rgb(255, 116, 116), rgb(1, 255, 255));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-size: 200% 200%;
	animation: move_gradient 5s ease-in-out infinite alternate;
	@media only screen and (max-width: $big-tablet) {
		font-size: 2.5em;
	}
	@media only screen and (max-width: $small-tablet) {
		font-size: 2em;
	}
	@media only screen and (max-width: $mobile) {
		display: block;
	}
}

.nav_links {
	margin-top: 10vh;
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	justify-content: center;
	transform: translateX(-100vw);
	animation: slide_in 0.5s cubic-bezier(0.35, 0.36, 0, 1.46) 3s 1 normal forwards;

	a {
		// text-decoration: underline;
		// color: var(--secondary-color);
		margin: 0 1rem;

		@media only screen and (max-width: $mobile) {
			margin: 0 1rem 0 0;
		}
	}
}

.works {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.work {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media only screen and (max-width: $big-tablet) {
		width: 90%;
	}

	@media only screen and (max-width: $mobile) {
		width: 100%;
	}
}

article > header {
	margin-bottom: 10px;
}

.work_header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--accent-color);

	h4 {
		font-weight: 400;
		font-size: 1rem;
	}

	a {
		font-weight: 400;
		font-size: 1.2rem;
		// text-decoration: none;
	}
}

.work_description {

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media only screen and (max-width: $mobile) {
			align-items: flex-start;
		}
	}

	li {
		list-style: disc;
		font-size: 1rem;
		margin-left: 1rem;
	}
}

#projects {
	width: 80%;

	@media only screen and (max-width: $big-tablet) {
		width: 100%;
	}
}

article > p, article > header > h2 {
	width: 100%;
	text-align: center;
}

.cards {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin: 20px 0 0;
	align-items: start;
	// padding: 20px 0;

	@media only screen and (max-width: $mobile) {
		// justify-content: center;
	}
}

.card {
	border-left: 1px solid var(--accent-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--tertiary-color);
	width: 350px;
	height: 350px;
	// border-radius: 10px;
	padding: 20px;
	font-size: 1rem;

	h3 {
		color: var(--accent-color);
	}

	p {
		margin-top: 15%;
		font-weight: lighter;
	}
}

.pj_links {
	display: flex;
	align-items: center;

	i {
		font-size: 1rem;
		margin-right: 20px;
	}
}

#tools {
	ul {
		margin: 0 0 20px 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 60px;
		row-gap: 5px;

		@media only screen and (max-width: $mobile) {
			flex-direction: column;
			margin-left: 1rem;
		}
	}
	li {
		// font-size: 1rem;
		font-family: "Roboto Mono", monospace;
		margin: 10px 0;
		list-style: disc;
		color: var(--accent-color);
	}
}

.social {
	margin: 5px 0 30px;
	display: flex;
	justify-content: center;
	a {
		margin-right: 10px;
	}
}

footer {
	padding: 40px 0;
	border-top: 1px solid var(--accent-color);
	// background-color: darken(var(--secondary-color));
	display: flex;
	justify-content: center;
	a {
		display: flex;
		align-items: flex-end;
		text-decoration: none;
		span {
			line-height: 1rem;
		}

		&:hover {
			text-decoration: underline;
		}
	}
	img {
		margin-right: 10px;
		width: 1rem;
		height: 1rem;
	}
}

.first_intro {
	opacity: 0;
	animation: animate_opacity 2s ease 0.5s 1 normal forwards;
}
.second_intro {
	opacity: 0;
	animation: animate_opacity 2s ease 1.3s 1 normal forwards;
}

@keyframes animate_opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@keyframes slide_in {
	from {
		transform: translateX(-100vw);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes move_gradient {
	0% {
		background-position: 10% 200%;
	}

	100% {
		background-position: 90% 200%;
	}
}
